# Serveur
NODE_ENV=development
PORT=4000
CORS_ORIGIN=http://localhost:3000
FRONTEND_URL=http://localhost:3000

# Base de données (Supabase - pooler transaction + session)
DATABASE_URL="postgresql://postgres.igxyvgkwmlqaiwydldix:novaschronons@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.igxyvgkwmlqaiwydldix:novaschronons@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"
# JWT
JWT_ACCESS_SECRET=change_me_access_secret_super_long
JWT_REFRESH_SECRET=change_me_refresh_secret_super_long
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Bcrypt
BCRYPT_SALT_ROUNDS=10

# Sécurité connexion parent (anti brute-force)
PARENT_LOCKOUT_MAX_ATTEMPTS=5
PARENT_LOCKOUT_MINUTES=15

# Email (Resend) - pour réinitialisation mot de passe admin/surveillant
RESEND_API_KEY=re_xxxxxxxxxxxx
EMAIL_FROM=EduBF <no-reply@edubf.app>
